.footer {
  position: relative;
  border-radius: 14px;
  padding: 46px;
  @include flex(space-between);

  background: linear-gradient(
      30deg,
      rgba(230, 62, 33, 0.445) 0%,
      rgba(51, 19, 14, 0%) 15%,
      rgba(51, 19, 14, 0%) 100%
    ),
    linear-gradient(#1b1b1b, #1b1b1b);

  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
        30deg,
        #e63e21 0%,
        var(--color-grey-border) 15%,
        var(--color-grey-border) 100%
      ),
      linear-gradient(#1b1b1b, #1b1b1b);
  }

  .footer-social {
    width: 255px;

    & ul {
      @include flex(space-between, center);
      list-style: none;
      margin: 0;
      padding: 0;
      color: #fff;

      & :nth-child(1) {
        @include font-inter(20px, 500);
        color: var(--color-accent-light);
      }

      & li {
        @include font-inter(20px, 400);
        color: var(--color-text-secondary);
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 375px) {
  .footer {
    flex-direction: column-reverse;

    .footer-social {
      ul {

        & :nth-child(1) {
          font-size: 16px;
        }
        & li {
        font-size: 16px;
      }
      }
    }
  }
}