.no-code {
  border-radius: 14px;
  padding: 60px 40px;
  width: 286px;
  height: 149px;
  position: relative;
  text-align: center;
  @include font-inter(24px, 500);
  color: var(--color-soft-grey);

  background: linear-gradient(
      65deg,
      rgba(230, 62, 33, 0.445) 0%,
      rgba(51, 19, 14, 0%) 20%,
      rgba(51, 19, 14, 0%) 100%
    ),
    linear-gradient(#1b1b1b, #1b1b1b);

  &:after {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
        65deg,
        #e63e21 0%,
        var(--color-grey-border) 20%,
        var(--color-grey-border) 100%
      ),
      linear-gradient(#1b1b1b, #1b1b1b);
  }
}


@media (max-width: 375px) {
  .no-code {
    font-size: 14px;
  }
}
