.recent-work {
  .recent-work-title-wrapper {
    @include flex(flex-start);
    gap: 14px;
    background-color: var(--color-dark);
  }

  & .recent-work-content-wrapper {
    @include flex(center, flex-start);
    flex-direction: column;
    row-gap: 38px;
    margin-top: 70px;
    background-color: var(--color-dark);
    width: 514px;
    height: 371px;

    & .recent-work-content {
      @include flex(space-between);
      background-color: var(--color-dark);
      width: 100%;

      & div {
        color: var(--color-soft-grey);
        @include font-inter(20px, 400);
        background-color: var(--color-dark);
      }

      & .content-left {
        @include flex(center, flex-start);
        row-gap: 12px;
        flex-direction: column;
        background-color: var(--color-dark);
      }
    }
  }
}

@media (max-width: 375px) {
  .recent-work {
    .recent-work-content-wrapper {
      width: 286px;
      height: 240px;
      gap: 20px;
      margin-top: 36px;

      .recent-work-content {
        .content-left {
          gap: 8px;
        }
        & div {
          font-size: 14px;
        }
      }
    }
  }
}
