@import "lib/normalize";
@import "ui/container";
@import "components/container";
@import "sections/container";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}

.grid {
  width: 1214px;
  max-width: 1214px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(64px, auto);
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "recent-work recent-work  product-design product-design"
    "recent-work recent-work user-experience no-code"
    "recent-work recent-work ai-music ai-music"
    "ios-mobile ios-mobile ai-music ai-music"
    "ios-mobile ios-mobile ai-map ai-map"
    "footer footer footer footer";
  gap: 1rem;
}

.grid .header {
  grid-area: header;
  // @include base-block;
  height: 64px;
  border-radius: unset;
}

.grid .hero {
  grid-area: hero;
  @include base-block;
  height: 408px;
}

.grid .recent-work {
  grid-area: recent-work;
  @include base-block;
}

.grid .product-design {
  grid-area: product-design;
  height: 150px;
}

.grid .user-experience {
  grid-area: user-experience;
  height: 150px;
}

.grid .no-code {
  grid-area: no-code;
  height: 150px;
}

.grid .ai-music {
  grid-area: ai-music;
  height: 528px;
}

.grid .ios-mobile {
  grid-area: ios-mobile;
}

.grid .ai-map {
  grid-area: ai-map;
  height: 532px;
}

.grid .footer {
  grid-area: footer;
}

.circle-s {
  width: 9px;
  height: 9px;
  background-color: var(--color-accent);
  border-radius: 5px;
}

.circle-s-light {
  width: 9px;
  height: 9px;
  background-color: var(--color-soft-grey);
  border-radius: 5px;
}

.circle-m {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 1px solid #000;
  background-color: #e63e21;
  box-shadow:
    inset 0 3px 0 0 #e4643f,
    0 4px 13px 0 rgba(230, 62, 33, 0.18);
}

.title-pale {
  color: var(--color-soft-grey);
  font-size: 24px;
  font-weight: 500;
}

.title-accent {
  color: var(--color-accent-light);
  font-weight: 500;
  font-size: 24px;
}

.title-light {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 24px;
}

.subtitle {
  color: var(--color-soft-grey);
  font-weight: 400;
  font-size: 20px;
}

.title-wrapper {
  width: 100%;
  @include flex(space-between, flex-start);

  & .title-textarea {
    @include flex(space-between, flex-start);
    flex-direction: column;
    gap: 16px;
  }
}

.status {
  @include flex;
  gap: 4px;
  background-color: var(--color-dark-special);
  border: 1px solid var(--color-grey-border);
  border-radius: 14px;
  padding: 6px 17px;

  & .status-descr {
    margin-left: 10px;
    @include font-inter(14px, 500);
    text-align: center;
    color: var(--color-soft-grey);
  }
}

@media (max-width: 375px) {
  body {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(44px, auto);
    grid-template-areas:
      "header header"
      "hero hero"
      "recent-work recent-work"
      "product-design product-design"
      "user-experience no-code"
      "ios-mobile ios-mobile"
      "ai-music ai-music"
      "ai-map ai-map"
      "footer footer";
    gap: 12px;
  }

  .grid .header {
    grid-area: header;
    border-radius: unset;
    width: 327px;
    height: 44px;
  }

  .grid .hero {
    grid-area: hero;
    @include base-block;
    border-radius: 8px;
    padding: 22px 22px 22px 16px;
    width: 327px;
    height: 389px;
  }

  .grid .recent-work {
    grid-area: recent-work;
    @include base-block;
    border-radius: 8px;
    padding: 22px 20px;
    width: 327px;
    height: 341px;
  }

  .grid .product-design {
    grid-area: product-design;
    border-radius: 8px;
    padding: 33px 22px;
    width: 327px;
    height: 82px;
  }

  .grid .user-experience {
    grid-area: user-experience;
    border-radius: 8px;
    padding: 33px 22px;
    width: 157px;
    height: 83px;
  }

  .grid .no-code {
    grid-area: no-code;
    border-radius: 8px;
    padding: 33px 22px;
    width: 157px;
    height: 83px;
  }

  .grid .ai-music {
    grid-area: ai-music;
    border-radius: 8px;
    width: 327px;
    height: 298px;
  }

  .grid .ios-mobile {
    grid-area: ios-mobile;
    border-radius: 8px;
    width: 327px;
    height: 446px;
  }

  .grid .ai-map {
    grid-area: ai-map;
    border-radius: 8px;
    padding: 22px 30px;
    width: 327px;
    height: 327px;
  }

  .grid .footer {
    grid-area: footer;
    border-radius: 8px;
    padding: 23px 40px;
    width: 327px;
    height: 148px;
  }

  .title-pale {
    font-size: 16px;
  }

  .title-light {
    font-size: 16px;
  }

  .title-accent {
    font-size: 16px;
  }

  .subtitle {
    font-size: 14px;
  }

  .circle-s-light {
    width: 6px;
    height: 6px;
  }

  .title-wrapper {
    & .circle-m {
      display: none;
    }
    & .title-textarea {
      @include flex(space-between, flex-start);
      flex-direction: column;
      gap: 8px;
    }
  }

  .status {
    border-radius: 14px;
    padding: 5px 11px;
    width: 125px;
    height: 21px;

    & .circle-s {
      width: 7px;
      height: 7px;
    }


    & .status-descr {
      width: 100%;
      @include font-inter(9px, 500);
      text-align: center;
      margin-left: 0;
    }
  }
}
