@import "lib/normalize";
@import "ui/container";
@import "components/container";
@import "sections/container";

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}

.grid {
  width: 1214px;
  max-width: 1214px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(64px, auto);
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "recent-work recent-work  product-design product-design"
    "recent-work recent-work user-experience no-code"
    "recent-work recent-work ai-music ai-music"
    "ios-mobile ios-mobile ai-music ai-music"
    "ios-mobile ios-mobile ai-map ai-map"
    "footer footer footer footer";
  gap: 1rem;
}

.grid .header {
  grid-area: header;
  // @include base-block;
  height: 64px;
  border-radius: unset;
}

.grid .hero {
  grid-area: hero;
  @include base-block;
  height: 408px;
}

.grid .recent-work {
  grid-area: recent-work;
  @include base-block;
}

.grid .product-design {
  grid-area: product-design;
  // @include base-block;
  height: 150px;
}

.grid .user-experience {
  grid-area: user-experience;
  // @include base-block;
  height: 150px;
}

.grid .no-code {
  grid-area: no-code;
  // @include base-block;
  height: 150px;
}

.grid .ai-music {
  grid-area: ai-music;
  // @include base-block;
  height: 528px;
}

.grid .ios-mobile {
  grid-area: ios-mobile;
  // @include base-block;
}

.grid .ai-map {
  grid-area: ai-map;
  // @include base-block;
  height: 532px;
}

.grid .footer {
  grid-area: footer;
  @include base-block;
}

.circle-s {
  width: 9px;
  height: 9px;
  background-color: var(--color-accent);
  border-radius: 5px;
}

.circle-s-light {
  width: 9px;
  height: 9px;
  background-color: var(--color-soft-grey);
  border-radius: 5px;
}

.circle-m {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  border: 1px solid #000;
  background-color: #E63E21;
  box-shadow:
    inset 0 3px 0 0 #e4643f,
    0 4px 13px 0 rgba(230, 62, 33, 0.18);
}

.title-pale {
  color: var(--color-soft-grey);
  font-size: 24px;
  font-weight: 500;
  background-color: var(--color-dark);
}

.title-accent {
  color: var(--color-accent-light);
  font-weight: 500;
  font-size: 24px;
  background-color: var(--color-dark);
}

.title-light {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 24px;
  background-color: var(--color-dark);
}

.subtitle {
  color: var(--color-soft-grey);
  font-weight: 400;
  font-size: 20px;
  background-color: var(--color-dark);
}

.title-wrapper {
  width: 100%;
  @include flex(space-between, flex-start);

  & .title-textarea {
    @include flex(space-between, flex-start);
    flex-direction: column;
    gap: 16px;
  }
}
